.console {
    position:fixed;
    padding: 5px;
    top: 0px;
    left: 25%;
    width: 50%;
    min-width: 300px;
    height: 260px;
    background-color: #000;
    color: #fff;
    font-family: Consolas, "Andale Mono", "Courier New";
    opacity: 0.75;
    overflow-y: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: black 0px 0px 50px;
}

[contentEditable]:focus {
  outline: 0px solid transparent;

.comment {
    color: #00ff00;
}
