body {
    background-color: #333;
    color: #fff;
}


#title {
    font-family: Consolas, 'Andale Mono', 'Courier New';
    font-size: 15em;
    text-align:center;
}


#subtitle {
    font-family: 'Andale Mono', 'Courier New';
    font-size: 3em;
    text-align:center;
}
